
<GridLayout tkMainContent>
 <TabView #tabview tabBackgroundColor="#414141" selectedTabTextColor="rgb(182, 253, 1)" >
     
        <!-- News Tab -->
        <StackLayout *tabItem="{title: 'News'}" class="flex">
			<!-- <Button text="{{query}}" (tap)="firestoreWhereDentists()" class="btn"></Button> -->

			<ListView [items]="myItems$ | async" height="800" *ngIf="myItems$" class="list-group">
				<ng-template let-item="item" class="items">
					<StackLayout class="list-item">
						<GridLayout *ngIf="item.datatype === 'Image'">
						<Image src="{{item.url}}" class=""></Image> 
						</GridLayout> 
						<StackLayout>
						<Label text="{{item.name}}" class="header1"></Label>
						<Label text="{{item.time}}" class="timeposted"></Label>
						<Label text="{{item.title}}" class="title"></Label>
						</StackLayout>

					</StackLayout>
				</ng-template>
			</ListView>
		</StackLayout>

        <!-- Info Tab -->
        <!-- <StackLayout *tabItem="{title: 'Info'}" class="flex">-->
	<StackLayout *tabItem="{title: 'News'}" class="flex">
			<!-- <Button text="{{query}}" (tap)="firestoreWhereDentists()" class="btn"></Button>			 -->
			<!-- <Button text="Update" (tap)="firestoreCollectionObservable()" class="btn"></Button> -->
			
				<ListView [items]="myItems$ | async" height="600" *ngIf="myItems$" class="list-group">
				<ng-template let-item="item" class="items">
					<FlexLayout class="list-item" >
						<Label text="{{item.title}}" class="title"></Label>
						<Image src="{{item.url}}" class=""></Image> 
						
						<StackLayout>
						<Label text="{{item.name}}" class="header1"></Label>
						<Label text="{{item.time}}" class="timeposted"></Label>
						<Label text="{{item.title}}" class="title"></Label>
						</StackLayout>
					</FlexLayout>
				</ng-template>
			</ListView>
		</StackLayout>

				<!--
				<div *ngIf="item.datatype == 'Video'; ">
				<video class="fileimage2" width="500" height="500" controls>
				<source src="{{ item.url }}" type="video/mp4">
				</video>			  
				</div>
				<div class="pdf" *ngIf="item.datatype == 'PDF'; ">
				<a class="pdf" href="{{ item.url }}">{{ item.name }}</a>
				</div>
				-->
		

        <!-- Providers Tab -->
  
        <StackLayout *tabItem="{title: 'Providers'}">
				<StackLayout background="#414141"><Button class="btn btn-primary btn-active" text="Find Your Location" (tap)="startWatchingLocation()"></Button>
				</StackLayout>
				<MapView #mapView [latitude]="latitude" [longitude]="longitude"
				[zoom]="zoom" [bearing]="bearing"
				[tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
				(markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
				(markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
				(markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
   (cameraChanged)="onCameraChanged($event)"></MapView>

		</StackLayout>
  </TabView>
</GridLayout>



    



