
<GridLayout tkMainContent>
 <TabView #tabview tabBackgroundColor="#414141" selectedTabTextColor="#00FF00" >
     
        <!-- News Tab -->
        <StackLayout *tabItem="{title: 'News'}" class="flex">
			<Button text="Dentists" (tap)="firestoreWhereDentists()" class="btn"></Button>

        	    <FlexboxLayout >

				
				<ListView [items]="myItems$ | async" height="600" *ngIf="myItems$" class="list-group" >
				<template let-item="item" class="items">
					<FlexLayout class="list-item">

					    <Label text="{{item.datatype}}" class="title"></Label>

					    <Label text="{{item.title}}" class="title"></Label>
						<Image src="{{item.url}}" class=""></Image>  
						<Label text="{{item.name}}" class="header1"></Label>

					    <Label text="{{item.time}}" class="timeposted"></Label>
					</FlexLayout>


				</template>
				</ListView>

			</FlexboxLayout>
        </StackLayout>
        

        <!-- Info Tab -->
        <!-- <StackLayout *tabItem="{title: 'Info'}" class="flex">-->
        	    <StackLayout *tabItem="{title: 'Info'}" class="flex">
					<Button text="Everyone" (tap)="firestoreWhereEveryone()" class="btn"></Button>

        	       <FlexboxLayout >

				
				<ListView [items]="myItems$ | async" height="600" *ngIf="myItems$" class="list-group" >
				<template let-item="item" class="items">
					<FlexLayout class="list-item">

					    <Label text="{{item.datatype}}" class="title"></Label>

					    <Label text="{{item.title}}" class="title"></Label>
						<Image src="{{item.url}}" class=""></Image>  
						<Label text="{{item.name}}" class="header1"></Label>

					    <Label text="{{item.time}}" class="timeposted"></Label>
					</FlexLayout>


				</template>
				</ListView>

				<!--
				<div *ngIf="item.datatype == 'Video'; ">
				<video class="fileimage2" width="500" height="500" controls>
				<source src="{{ item.url }}" type="video/mp4">
				</video>			  
				</div>
				<div class="pdf" *ngIf="item.datatype == 'PDF'; ">
				<a class="pdf" href="{{ item.url }}">{{ item.name }}</a>
				</div>
				-->
			</FlexboxLayout>
		</StackLayout>

        <!-- Providers Tab -->
   
        <StackLayout *tabItem="{title: 'Providers'}">
			<Gradient height="100%" direction="to bottom" colors="#444, #000" [class.p-20]="isIOS">
				<ContentView [@flyInOut]="'in'" height="100%" width="100%" borderRadius="20">
					<Mapbox
						accessToken="sk.eyJ1IjoiZWRkeXZlcmJydWdnZW4iLCJhIjoia1JpRW82NCJ9.OgnvpsKzB3GJhzyofQNUBw"
						mapStyle="traffic_day"
						latitude="49.939334"
						longitude="-119.398501"						
						zoomLevel="10"
						delay="450"
						showUserLocation="true"
						hideCompass="false"
						disableZoom="false"
						disableRotation="false"
						disableScroll="false"
						disableTilt="false"
						(mapReady)="onMapReady($event)">
						</Mapbox>
				</ContentView>
			</Gradient>
			<FAB
			[@from-right]="'in'"
			(tap)="fabTapped()"
			icon="res://ic_add_white"
			rippleColor="#f1f1f1"
			class="fab">
			</FAB>
		</StackLayout>
  </TabView>
</GridLayout>



    



