
<GridLayout tkMainContent>
 <TabView #tabview tabBackgroundColor="#414141" selectedTabTextColor="#00FF00" >
     
        <!-- News Tab -->
        <StackLayout *tabItem="{title: 'News'}">
			<StackLayout id= "woman">
				<Label text = "Smile Of the Future" id= "womantext"></Label>
				<Image src= "~/images/big-woman.png"></Image>
			</StackLayout>
			<StackLayout>
				<Image src= "~/images/boxes1.png"></Image>
				<Image src= "~/images/boxes2.png"></Image>
			</StackLayout>
        </StackLayout>
        

        <!-- Info Tab -->
        <StackLayout *tabItem="{title: 'Info'}" class="flex">

			<Button text="Update" (tap)="firestoreCollectionObservable()" class="btn"></Button>
				
				<ListView [items]="myItems$ | async" height="600" *ngIf="myItems$" class="list-group">
				<template let-item="item" class="items">
					<FlexLayout class="list-item" >
						<Label text="{{item.title}}" class="title"></Label>
						<Image src="{{item.url}}" class=""></Image> 
						<Label text="{{item.time}}" class="timeposted"></Label>
					</FlexLayout>


				</template>
				</ListView>

				<!--
				<div *ngIf="item.datatype == 'Video'; ">
				<video class="fileimage2" width="500" height="500" controls>
				<source src="{{ item.url }}" type="video/mp4">
				</video>			  
				</div>
				<div class="pdf" *ngIf="item.datatype == 'PDF'; ">
				<a class="pdf" href="{{ item.url }}">{{ item.name }}</a>
				</div>
				-->

		</StackLayout>

        <!-- Providers Tab -->
   
        <StackLayout *tabItem="{title: 'Providers'}">
				<MapView #mapView [latitude]="latitude" [longitude]="longitude"
				[zoom]="zoom" [bearing]="bearing"
				[tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
				(markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
				(markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
				(markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
   (cameraChanged)="onCameraChanged($event)"></MapView>
			
		</StackLayout>
  </TabView>
</GridLayout>



    



